<div class="row">
    <div class="col-md-12">
        <h2>Manager Settings</h2>
        <p>This page will contain various settings for managers.</p>
        
        <div class="card mt-4">
            <div class="card-header">
                Category Settings
            </div>
            <div class="list-group list-group-flush">
                <a href="/manager/categories" class="list-group-item list-group-item-action">
                    Manage Categories
                </a>
                <a href="/manager/categories/create" class="list-group-item list-group-item-action">
                    Create New Category
                </a>
            </div>
        </div>

        <div class="card mt-4">
            <div class="card-header">
                Department Settings
            </div>
            <div class="list-group list-group-flush">
                <a href="/manager/departments" class="list-group-item list-group-item-action">
                    Manage Departments
                </a>
                <a href="/manager/departments/create" class="list-group-item list-group-item-action">
                    Create New Department
                </a>
            </div>
        </div>

        <% /* Add other settings sections here later if needed */ %>

    </div>
</div> 